<launch>

    <node pkg="rov_control_system" type="motor_controller.py"
        name="motor_controller">
        <param name="port" value="/dev/ttyUSB0"/>
        <param name="baud" value="115200"/>
    </node>

    <node pkg="rov_control_system" type="motor_controller.py"
        name="servo_controller">
        <param name="port" value="/dev/ttyUSB1"/>
        <param name="baud" value="115200"/>
    </node>

    <node pkg="joy" type="joy_node" name="joystick">
        <param name="dev" value="/dev/input/js2"/>
    </node>

    <node pkg="rov_control_system" type="joy_to_motor.py" 
        name="joy_to_motorcmd">
        <param name="lateral" value="1"/>
        <param name="vertical" value="1"/>
        <param name="pitch_roll" value="0.5"/>
    </node>

    <node pkg="rov_control_system" type="joy_to_servo.py" 
        name="joy_to_servocmd">
    </node>

    <node pkg="rov_control_system" type="keyboard_to_servo.py"
        name="keyboard_to_servo">
    </node>

    <node pkg="rov_control_system" type="window.py"
        name="display">
    </node>

</launch>
